<div class="product-details ">
	<a href="#!/list" class="home"><img src="images/home.gif" alt=""></a>
      <span>{{productCount}}</span>
	</a>
	details {{vm.product[0].p_id}}
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<img src="{{vm.product[0].p_imagePath}}" alt="">
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<span>{{vm.product[0].p_style}}</span>
		<span>{{vm.product[0].p_name}}</span> 
		<span>{{vm.product[0].c_currency}}{{vm.product[0].p_originalprice}}</span>
		<span>{{vm.product[0].c_currency}}{{ vm.product[0].p_price}}</span> 
	</div>
</div>